h1{
    background-color: #00004d;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
}

#searchInput{
    margin-left: 5px;
    display:inline-block;
    width: 75%;
}

h3{
    display:inline-block; 
}

